/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background-color: rgb(90, 7, 90);
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header div {
  display: flex;
}
header p {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

.section-1 {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(90, 7, 90);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-1 h1 {
  color: white;
  padding-bottom: 15px;
  font-size: 38px;
}
.section-1 p {
  color: white;
  padding: 5px;
  font-size: 15px;
}

.section-2 {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  background-color: whitesmoke;
  padding: 30px 44px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-2 .position-img {
  display: flex;
  align-content: space-around;
}
.section-2 .img-marcas {
  width: 35px;
  height: 35px;
}

.section-3 {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  background-color: rgb(224, 224, 224);
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-3 h2 {
  font-size: 28px;
  padding-bottom: 20px;
}
.section-3 p {
  font-size: 17px;
  padding-bottom: 20px;
}
.section-3 a {
  font-size: 16px;
}

.section-4 {
  font-family: "Open Sans", sans-serif;
  padding: 20px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-4 h1 {
  padding-top: 70px;
  font-size: 30px;
}
.section-4 p {
  padding: 30px;
  font-size: 13px;
}

.section-5 {
  font-family: "Open Sans", sans-serif;
  padding: 20px 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-5 h1 {
  font-size: 45px;
  color: rgb(90, 7, 90);
}
.section-5 p {
  font-size: 13px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.section-6 {
  padding: 20px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-6 h2 {
  font-size: 20px;
  padding-top: 40px;
}
.section-6 p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding-top: 20px;
}
.section-6 a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.section-7 {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  background-color: rgb(179, 124, 124);
  padding: 30px 50px 0px 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-7 h2 {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.box {
  padding: 15px;
  background-color: white;
  text-align: start;
}
.box p {
  padding-top: 10px;
  font-size: 13px;
}
.box h2 {
  font-size: 22px;
  padding-bottom: 30px;
}
.box a {
  font-size: 15px;
  padding-top: 70px;
}

.section-8 {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(90, 7, 90);
  padding: 0px 20px 90px 20px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-8 h2 {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 25px;
}

.footer {
  padding: 20px;
  text-align: start;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}
.footer p {
  padding-top: 10px;
}
.footer h4 {
  padding-block: 13px;
}

.last-div {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.points {
  padding: 0px 50px 0px 50px;
}

.style-comment {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: gray;
  padding: 20px 15px;
  display: flex;
  text-align: center;
}

.style-button {
  background-color: white;
  padding: 20px 30px;
  border: solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img-capture {
  width: 100%;
  height: 100%;
}

.img-logo {
  width: 25px;
  height: 25px;
}

.img-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 50px;
  height: 50px;
}

.small-log {
  width: 100px;
  height: 100px;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */